on:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - "development"
      - "!main"

jobs:
    install_dependencies:
      runs-on: ubuntu-20.04

      env:
        GODOT_VERSION: "4.3"
      
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Download Godot 4.3
          run: |
            wget https://github.com/godotengine/godot/releases/download/${{env.GODOT_VERSION}}-stable/Godot_v${{env.GODOT_VERSION}}-stable_linux.x86_64.zip -O godot.zip
            unzip godot.zip -d godot

        - name: Make Godot Executable
          run: |
            chmod +x godot/Godot_v${{env.GODOT_VERSION}}-stable_linux.x86_64

        - name: Add Godot to PATH
          run: |
            export PATH=$PATH:$(pwd)/godot
            echo "$(pwd)/godot" >> $GITHUB_PATH
            

        - name: Check Godot version
          run: godot --version

        - name: Install GUT (Godot Unit Testing)
          run: |
            git clone https://github.com/bitwes/GutTests.git

        - name: Import assets and classes
          run: |
            godot --headless --path $(pwd) --import --verbose res://

    unitTests:
        runs-on: ubuntu-20.04
        needs: install_dependencies
        
        container:
          image: barichello/godot-ci:4.3
        
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4
          
          - name: Run Unit Tests
            run: |
              godot --headless --path $(pwd) -s test/gut/gut_cmdln.gd --testdir=Test/Unit --verbose --output-file=Test/Unit/test_results.txt --quit-after 10 --debug

          - name: Upload Tests Results
            uses: actions/upload-artifact@v3
            with:
              name: test-results
              path: Test/Unit/test_results.txt
          
          - name: Display Failed Tests
            if: failure()
            run: cat Test/Unit/test_results.txt