
name: Godot CI - Install Godot


on:
  push:
    branches:
      - "**"
      - "!main"
  pull_request:
    branches:
      - "development"

jobs:
    install_dependencies:
      runs-on: ubuntu-20.04

      container:
        image: barichello/godot-ci:4.3

      steps:
        - name: Check Godot version
          run: godot --version

    unitTests:
        runs-on: ubuntu-20.04
        needs: install_dependencies

        container:
          image: barichello/godot-ci:4.3

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4


          - name: Run Unit Tests
            run: |
              godot -s dont-forget/addons/gut/gut_cmdln.gd -d --path dont-forget -ginclude_subdirs -gdir=res://Test -gexit -gprefix=test_