name: Godot CI - Install Godot

on:
  push:
    branches:
      - "*"
      - "!main"
  pull_request:
    branches:
      - "development"

jobs:
  build:
    runs-on: ubuntu-20.04

    container:
      image: barichello/godot-ci:4.3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Verify Godot Installation
        run: |
          godot --version